"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    screenShake:
      enabled: false  
  atomatigit:
    show_on_startup: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    customFileTypes:
      "source.sql": [
        "sp"
      ]
    disabledPackages: [
      "atom_packages"
      "whitespace"
    ]
    telemetryConsent: "limited"
  editor:
    atomicSoftTabs: false
    fontFamily: "Fira Mono"
    preferredLineLength: 200
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"  
  "file-icons": {}
  "git-plus": {}
  "linter-javac":
    javacExecutablePath: "javaC:\\Program Files\\Java\\jdk1.8.0_102\\bin"
  minimap: {}
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 200
    tabLength: 4
