[alias]
    bl = branch -l
    cam = commit -am
    co = checkout
    cob = checkout -b
    db = branch -D
    discard = checkout --
    fpo = fetch --prune origin
    unstage = reset
[color]
    branch = auto
    diff = auto
    interactive = true
    status = auto
[color "diff"]
    new = green
    old = red
[core]
[help]
    autocorrect = 15
[log]
    decorate = short
[user]
    name = "Ian R. O'Brien"
